<div id="<%= dom_id guitar %>">
  <p>
    <strong>Model:</strong>
    <%= guitar.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= guitar.year %>
  </p>

  <p>
    <strong>Is available:</strong>
    <%= guitar.is_available %>
  </p>

  <% if guitar.process %>
    <p style="color: yellow; background: black; max-width: 400px;">
      <strong>Checking if guitar is stolen... Refresh in a few minutes</strong>
    </p>
  <% end %>

  <% if guitar.stolen %>
    <p style="color: red;">
      <strong>Is stolen!</strong>
    </p>
  <% end %>

</div>
